<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="William Heesen">

	<title>{{ page.title }}</title>

	<!-- styles -->
	<link href="/packages/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/packages/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/packages/prism/css/prism.min.css" rel="stylesheet">
	<link href="/packages/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/site.min.css" rel="stylesheet">
</head>
