<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="William Heesen">

	<title>{{ page.title }}</title>

  <!-- Fav icon -->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

	<!-- styles -->
	<link href="/packages/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/packages/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/packages/prism/css/prism.min.css" rel="stylesheet">
	<link href="/packages/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/site.min.css" rel="stylesheet">
</head>
