@font-face {
    font-family: "icons";
    src: url("./icons.eot?0e6cf54ef0416edc17c2e58a54402d23?#iefix") format("embedded-opentype"),
url("./icons.woff?0e6cf54ef0416edc17c2e58a54402d23") format("woff"),
url("./icons.ttf?0e6cf54ef0416edc17c2e58a54402d23") format("truetype"),
url("./icons.svg?0e6cf54ef0416edc17c2e58a54402d23#icons") format("svg");
}

i {
    line-height: 1;
}

i:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}

.icon-aspectRatio:before {
    content: "\f101";
}
.icon-bat:before {
    content: "\f102";
}
.icon-circle:before {
    content: "\f103";
}
.icon-cog:before {
    content: "\f104";
}
.icon-colorSampler:before {
    content: "\f105";
}
.icon-diamond:before {
    content: "\f106";
}
.icon-flower:before {
    content: "\f107";
}
.icon-heart:before {
    content: "\f108";
}
.icon-hexagon:before {
    content: "\f109";
}
.icon-layer:before {
    content: "\f10a";
}
.icon-line:before {
    content: "\f10b";
}
.icon-octagon:before {
    content: "\f10c";
}
.icon-pan:before {
    content: "\f10d";
}
.icon-pentagon:before {
    content: "\f10e";
}
.icon-redo:before {
    content: "\f10f";
}
.icon-select:before {
    content: "\f110";
}
.icon-shape:before {
    content: "\f111";
}
.icon-shapeAspect:before {
    content: "\f112";
}
.icon-shapeLine:before {
    content: "\f113";
}
.icon-shapeSpray:before {
    content: "\f114";
}
.icon-shapeStroke:before {
    content: "\f115";
}
.icon-spray:before {
    content: "\f116";
}
.icon-square:before {
    content: "\f117";
}
.icon-star16:before {
    content: "\f118";
}
.icon-star3:before {
    content: "\f119";
}
.icon-star4:before {
    content: "\f11a";
}
.icon-star5:before {
    content: "\f11b";
}
.icon-star6:before {
    content: "\f11c";
}
.icon-star8:before {
    content: "\f11d";
}
.icon-stroke:before {
    content: "\f11e";
}
.icon-sun:before {
    content: "\f11f";
}
.icon-triangle:before {
    content: "\f120";
}
.icon-undo:before {
    content: "\f121";
}
