@font-face {
    font-family: "icons";
    src: url("./icons.eot?ccb94661bc5afd4274cf2ec5a545178d?#iefix") format("embedded-opentype"),
url("./icons.woff?ccb94661bc5afd4274cf2ec5a545178d") format("woff"),
url("./icons.ttf?ccb94661bc5afd4274cf2ec5a545178d") format("truetype"),
url("./icons.svg?ccb94661bc5afd4274cf2ec5a545178d#icons") format("svg");
}

i {
    line-height: 1;
}

i:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}

.icon-bat:before {
    content: "\f101";
}
.icon-brush:before {
    content: "\f102";
}
.icon-circle:before {
    content: "\f103";
}
.icon-cog:before {
    content: "\f104";
}
.icon-diamond:before {
    content: "\f105";
}
.icon-flower:before {
    content: "\f106";
}
.icon-heart:before {
    content: "\f107";
}
.icon-hexagon:before {
    content: "\f108";
}
.icon-layer:before {
    content: "\f109";
}
.icon-line:before {
    content: "\f10a";
}
.icon-pan:before {
    content: "\f10b";
}
.icon-pentagon:before {
    content: "\f10c";
}
.icon-redo:before {
    content: "\f10d";
}
.icon-select:before {
    content: "\f10e";
}
.icon-shape-stroke:before {
    content: "\f10f";
}
.icon-spray-can:before {
    content: "\f110";
}
.icon-spray:before {
    content: "\f111";
}
.icon-square:before {
    content: "\f112";
}
.icon-star:before {
    content: "\f113";
}
.icon-star16:before {
    content: "\f114";
}
.icon-star6:before {
    content: "\f115";
}
.icon-star8:before {
    content: "\f116";
}
.icon-triangle:before {
    content: "\f117";
}
.icon-undo:before {
    content: "\f118";
}
