@font-face {
    font-family: "icons";
    src: url("./icons.eot?d4d2199c968545bed734651d363ed4ef?#iefix") format("embedded-opentype"),
url("./icons.woff?d4d2199c968545bed734651d363ed4ef") format("woff"),
url("./icons.ttf?d4d2199c968545bed734651d363ed4ef") format("truetype"),
url("./icons.svg?d4d2199c968545bed734651d363ed4ef#icons") format("svg");
}

i {
    line-height: 1;
}

i:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    vertical-align: top;
}

.icon-bat:before {
    content: "\f101";
}
.icon-brush:before {
    content: "\f102";
}
.icon-circle:before {
    content: "\f103";
}
.icon-cog:before {
    content: "\f104";
}
.icon-diamond:before {
    content: "\f105";
}
.icon-flower:before {
    content: "\f106";
}
.icon-heart:before {
    content: "\f107";
}
.icon-hexagon:before {
    content: "\f108";
}
.icon-line:before {
    content: "\f109";
}
.icon-pan:before {
    content: "\f10a";
}
.icon-pentagon:before {
    content: "\f10b";
}
.icon-redo:before {
    content: "\f10c";
}
.icon-select:before {
    content: "\f10d";
}
.icon-spray-can:before {
    content: "\f10e";
}
.icon-square:before {
    content: "\f10f";
}
.icon-star:before {
    content: "\f110";
}
.icon-triangle:before {
    content: "\f111";
}
.icon-undo:before {
    content: "\f112";
}
